@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

.container {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.container img {
  width: 100%;
}

.navbar {
  position: absolute;
  top: 60px;
  padding: 0 100px;
  width: 100%;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  list-style: none;
  display: flex;
  margin-top: 10px;
}

.navbar ul li {
  margin: 0 35px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-weight: 300;
  font-size: 18px;
  padding: 4px;
}

.navbar ul li a:hover {
  border-bottom: 3px solid white;
}

.logo h2 {
  font-size: 30px;
  font-weight: 900;
  color: black;
  cursor: pointer;
}

.content-holder {
  position: absolute;
  top: 250px;
  left: 100px;
}

.content-holder p {
  font-size: 18px;
  line-height: 2rem;
}

.content-holder h1 {
  font-size: 80px;
  margin-top: 20px;
  color: rgb(65, 65, 65);
}

.content-holder button {
  padding: 12px 22px;
  font-size: 18px;
  margin-top: 50px;
  background-color: #c9eae5;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(122, 122, 122, 0.5);
}

.side-label {
  position: absolute;
  top: 200px;
  right: 30px;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  font-size: 60px;
  opacity: 0.5;
}

.card {
  position: absolute;
  top: 360px;
  right: 250px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 350px;
  height: 330px;
}

.row-1 {
  border-radius: 5px;
  padding: 12px 15px;
  margin: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.row-1:hover {
  box-shadow: none;
}

.right-head-container {
  position: absolute;
  top: 250px;
  right: 400px;
}

.right-head-container h1 {
  font-size: 50px;
}

.underline {
  height: 4px;
  width: 60%;
  border-radius: 5px;
  background-color: turquoise;
}

/* MEDIA QUERY */
@media only screen and (max-width: 600px) {
  .container img {
    height: 100%;
    width: 250%;
  }

  .navbar {
    position: absolute;
    top: 20px;
    padding: 0 20px;
  }

  .navbar ul {
    visibility: hidden;
  }

  .logo h2 {
    font-size: 25px;
    font-weight: 600;
    color: black;
    cursor: pointer;
  }

  .content-holder {
    position: absolute;
    top: 100px;
    left: 20px;
  }

  .content-holder p {
    font-size: 16px;
    line-height: 2rem;
  }

  .content-holder h1 {
    font-size: 75px;
    margin-top: 20px;
    color: rgb(65, 65, 65);
  }

  .content-holder button {
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 50px;
    background-color: #c9eae5;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(122, 122, 122, 0.5);
  }
}
